@import '/src/styles/mixin.scss';

.paymentHeader {
  @include flexCenter;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: $Red;
  color: white;
}
