@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
.login{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e1317;
    .loginContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titleContainer{
            .titleName{
                color: white;
                font-family: 'Rowdies', sans-serif;
                font-size: 56px;
            }
            }
        }
        .loginImageContainer{
            padding: 20px;
            .imagevariation{
                width: 790px;
                height: 390px;
            }
        }
    }