@import '/src/styles/mixin.scss';

.order {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  background-color: $Gray33;

  .orderContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2.5fr 0.4fr;
    max-width: 1000px;
    min-width: 1000px;
    height: 800px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $Black;
  }
}
