@import '/src/styles/mixin.scss';

.order {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  background-color: $Black;

  .orderContainer {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    min-width: 1000px;
    height: 800px;
    background-color: $Gray33;

    .orderFooter {
      grid-column: span 2;
    }
  }
}
