@import '/src/styles/mixin.scss';

.orderHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column: span 4;

  .orderStep {
    @include flexCenter;
    grid-column: span 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: $Red;
    color: white;
  }

  .productInfo {
    grid-column: span 1;
    color: white;
  }

  .gradeInfoBox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 7px;
  }
}
