@import '/src/styles/mixin.scss';

.paymentFooter {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;

  .step {
    @include flexCenter;
    font-size: 2rem;
    color: white;
  }

  .paymentSelection {
    color: $Red;
  }
}
