.mainSlide {
  position: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 520px;
  .mainSlideContainer{
    width:100%;
    height:620px;
    overflow:hidden;
    margin:0 auto;
  .img{
    width:100%;
    height:100%;
    object-fit:cover;
}
  }
 .slick-list {
    position:absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 520px;
    margin: 0 auto;
    overflow: hidden;
    .img {
    width: 1380px;
    height: 100%;
    margin: auto;
    display: block;
  }
  }
  .slick-track {
    display: flex;
    height: 100%;
  }

  .slick-dots {
    display:flex;
  }
}