@import '/src/styles/mixin.scss';

.seatTable {
  display: grid;
  grid-template-columns: 1fr 30fr;
  grid-template-rows: 1fr 20fr;
  padding: 30px 50px;

  .seatColumn30 {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    color: white;

    .column {
      @include flexCenter;
      font-size: 0.7rem;
    }
  }

  .seatRow20 {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    color: white;

    .row {
      @include flexCenter;
      font-size: 0.7rem;
    }
  }

  .seatList {
    display: grid;
    &.column30 {
      grid-template-columns: repeat(30, 1fr);
    }
    &.row20 {
      grid-template-rows: repeat(20, 1fr);
    }

    .seat {
      width: 90%;
      height: 100%x;
      border: 1px solid $Gray33;

      &.selected {
        @include seatButton($selected);
      }

      &.reserved {
        background-color: $Black;
      }

      &.gradeR {
        @include seatButton($Orange);
      }

      &.gradeS {
        @include seatButton($Violet);
      }

      &.gradeA {
        @include seatButton($Blue);
      }

      &.gradeC {
        @include seatButton($Gray);
      }
    }
  }
}
