@import '/src/styles/mixin.scss';

.payment {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  background-color: $Black;

  .paymentContainer {
    min-width: 1000px;
    height: 800px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $Gray33;
  }
}
