.top{
    border:1px solid red ;
    width: 120px;
.span-class {
    display: block;
    width: 100px; /* 원하는 너비로 설정 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 긴 텍스트일 경우 말줄임(...) 표시 */
  }
}