@import '/src/styles/mixin.scss';

.selectedSeatList {
  margin: 10px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.1rem;

  .selectSeat {
    color: white;
  }
}
