.reactionButton {
  display: flex;
  padding-top: 25px;
  margin-left: 40px;
  width: 7%;
  gap: 50px;

  .btn {
    padding: 8px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 18px transparent;
      animation: pulse 1s;
    }
  }

  .count {
    padding-right: 10px;
    margin-top: 20px;
    margin-left: -20px;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 grey;
  }
}
