.gradeInfo {
  display: flex;
  gap: 5px;
  font-size: 1.4rem;
  color: white;

  .gradeBox {
    width: 20px;
    height: 20px;
    border-radius: 4px;

    &.gradeR {
      background-color: rgb(242, 159, 6);
    }

    &.gradeS {
      background-color: rgba(102, 51, 153);
    }

    &.gradeA {
      background-color: rgba(70, 130, 180);
    }

    &.gradeC {
      background-color: rgba(153, 153, 153);
    }
  }
}
