.bestProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개의 열을 생성합니다. */
  grid-template-rows: repeat(3, 1fr); /* 3개의 행을 생성합니다. */
  grid-column-gap: 5px; /* 열 간격을 5px로 조절 */
  grid-row-gap: 250px; /* 행 간격을 20px로 조절 */

  .bestProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 105px;
    margin-top: 50px;
    width: 150px;
    height: 100px;

    .productImg {
      width: 300px;
      height: 300px;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      width: 300px;
      &:hover {
        color: grey; /* 호버 효과 스타일을 여기에 추가하세요. 원하는 색상이나 스타일로 변경하세요. */
      }

      .productTitle {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
