.promotionQuiz {
  height: 100vh;
  color: white;
  background-color: black;

  .promotionQuizContainer {
    border: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;

    .promotionQuizTitle {
      font-size: 50px;
      font-weight: 100px;
      color: red;
      text-align: center;
      padding: 50px;
      margin-bottom: 30px;
    }

    .quiz {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-left: 300px;
      font-size: 25px;

      .question {
        flex: 1;
        margin-right: 10px;
      }

      .response {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 50px;

        label {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
}
